Language: Cpp
BasedOnStyle: Google
ColumnLimit: 160
IncludeBlocks: Preserve
SortIncludes: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true